/*Mobile*/
@font-face {
  src: url("../Fonts/Roboto/Roboto-Light.ttf");
  font-family: 'Roboto';
}

/*Variables*/
body {
  margin: 0;
  padding: 0;
}

body h2.discount {
  background-color: #D1891C;
  font-size: 1rem;
  font-family: Roboto;
  padding: 10px;
  margin: 0;
}

body h1.title {
  background-color: #00669F;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-family: Roboto;
  padding: 20px;
  margin: 0;
}

section.main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  section.main {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1440px) {
  section.main {
    /*Desktop*/
    margin: 0 auto 100px;
  }
}

section.main div.container {
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 10px 10px 50px;
}

@media (min-width: 768px) {
  section.main div.container {
    width: 300px;
    height: 193px;
    padding: 10px;
    margin: 10px 10px 400px;
  }
}

@media (min-width: 1440px) {
  section.main div.container {
    width: 300px;
    height: 193px;
    padding: 10px;
    margin: 10px 10px 304px;
  }
}

section.main div.container div.imgs {
  position: relative;
}

section.main div.container div.imgs img.heart {
  position: absolute;
  top: 5%;
  left: 5%;
}

section.main div.container div.imgs img.house {
  width: 300px;
  height: 193px;
  border-radius: 20px 20px 0 0;
}

section.main div.container div.imgs img.heroe {
  position: absolute;
  bottom: -25%;
  left: 25%;
  border-radius: 50%;
  width: 120px;
  height: 118px;
}

section.main div.container div.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F3F3F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15% 20px 5%;
}

section.main div.container div.text h3 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.188rem;
  text-align: center;
  margin: 10px;
}

section.main div.container div.text p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125;
  margin: 0 0 30px;
}

section.main div.container div.text button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.063rem;
  background-color: #00669F;
  color: #FFFFFF;
  padding: 15px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #00669F;
}

footer {
  background: #00669F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  padding: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    position: relative;
  }
  footer p.git {
    text-align: right;
    position: absolute;
    right: 33px;
    top: 15px;
  }
  footer img {
    width: 80;
    height: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */