img.perfil{
    width: 200px; 
    height: 200px;
    display:block;
    margin:auto;
}

section.banner {
    width: 100%;
    height:230px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/1280px-Flag_of_Colombia.svg.png");
    background-size: 100% 100%;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffd600;
    font-family: fantasy;
  }
  
  li.li {
    float: left;
  }
  
  li.li a {
    display: block;
    color: #0a259a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.li a:hover:not(.active) {
    background-color: #ffd600;
  }
  
  .active {
    background-color: #e00000;
  }
  
section.title {
    width: 100%;
    height: 40px;
    background:#ffd600;
    font-size: 20px;
    color:#0a259a;
    letter-spacing: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-family: fantasy;
}

section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: fantasy;
}

#titleSection {
    width: 80%;
    background:#ffd600;
    color:#0a259a;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    font-family: fantasy;
}

.negritas{
    font-weight: bold;
}

.cursivas{
    font-style: italic;
}

li.espacio{
    line-height: 1.7;
}

table {
    margin-left: 40px;
}

section.margenInferior {
    margin-bottom: 140px;
}

a {
    color: #e00000;
  }

a:hover:not(.active) {
    background-color: #ffd600;
}

section.footer {
    width: 100%;
    height: 40px;
    background:#0a259a;
    font-size: 19px;
    font-family: fantasy;
    color: #ffd600;
    letter-spacing: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
