img.perfil{
    width: 200px; 
    height: 200px;
    display:block;
    margin:auto;
}
  
section.header {
    width: 100%;
    height: 40px;
    background:#c4c4c4;
    font-size: 20px;
    color:#00557b;
    letter-spacing: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#titleSection {
    width: 80%;
    background:#c4c4c4;
    color:#00557b;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
}

.negritas{
    font-weight: bold;
}

.cursivas{
    font-style: italic;
}

li.espacio{
    line-height: 1.7;
}

table {
    margin-left: 40px;
}

section.margenInferior {
    margin-bottom: 140px;
}

section.footer {
    width: 100%;
    height: 40px;
    background:#00557b;
    font-size: 19px;
    color:#c4c4c4;
    letter-spacing: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
